.auth-page-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: calc(100vh - 84px);
    .left-column{
        background-size: cover;
        img{
            width: 100%;
            height: calc(100vh - 84px);
            object-fit: cover;
            border-radius: 5px;
        }
    }
    .right-column{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $offwhite;
    }
    p{
        @include error-message();
    }

}