.customer-manager-wrapper{
    padding:30px;
    .customer-list-wrapper{
        display: grid;
        align-items: start;
        padding: 5px;
        .customer-item{
            display: grid;
            //@include customer-item($dark-teal);
            @include customer-item($corp-color);
            //grid-template-columns: 1fr 1fr 1fr 1fr 0.5fr;
            
            //border: 1px solid blue;
            &:hover{
                .title{
                    color: $offwhite;
                    transition: 0.75s ease-in-out;
                }
                .actions{
                    .action-icon{
                        color: $offwhite;
                        transition: 0.75s ease-in-out;
                    }   
                }            
                background-color: $dark-corp-color;
                transition: 0.75s ease-in-out;
            }
        }       
    }
    .actions{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap:15px;
        
        .action-icon{
            justify-self: center;
            cursor: pointer;
            color:$corp-color;
            font-size: 3.5em;
            transition: 0.5s ease-in-out;
            &:hover{
                color: $dark-corp-color;
            }
        }
    }
}
