.employee-form-wrapper{

    @include base-grid();
    grid-template-columns: 0.75fr 2fr;
    padding: 24px;

    .image-uploaders{
        @include base-grid();
        .employee-manager-image-wrapper{
            text-align: center;
            img{
                object-fit: cover;
                width: 40%;
                max-height: 100%;

                border-radius: 5px;
            }
            .image-removal-link{
                display: flex;
                justify-content: center;
                a{
                    font-weight: 900;
                    color: $warning;
                    cursor: pointer;
                    
                }
            }
        }
        
    }

    @include input-element();
    input{
        margin-bottom: 0px;
    }

    .select-element{
        @include selector();
    }    

    .error-message-wrapper{
        @include error-message();
        padding-top: 15px;
    }

    .btn{
        @include base-btn();
    }
    .btn-del{
        @include base-btn();
        background-color: $warning-light;
        &:hover{
            background-color: $warning;
        }
    }
    


}
@media (max-width: 600px) {
    .employee-form-wrapper  {
        grid-template-columns: 1fr;
    }
}