.employees-grid-wrapper{
    
    .employee-job{
        text-transform:uppercase;
        color: $grey;
        //border-bottom: solid $corp-color;
        border-bottom: solid $grey;
        border-width: 1px;
        padding-left: 10px;
    }
    
    
}