.employee-manager-wrapper{
    .new-employee-link{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        .find-wrapper{
            @include input-element();
            width: 97%;
            font-size: 1.3em;
            margin-bottom: 0px;
            padding: 10px 0px 0px 0px;
        }
    }
    .employees-grid-wrapper{   
        .employee-job{
            text-transform:uppercase;
            color: $grey;
            border-bottom: solid $grey;
            border-width: 1px;
            padding-left: 10px;
        } 
    }
}

@media (max-width: 600px) {
    .employee-manager-wrapper{
        .new-employee-link{
            display: grid;
            grid-template-columns: 1fr
        }
    }
}