@mixin base-btn{
    cursor: pointer;
    height: 42px;
    font-size: 1em;
    font-weight: 500;
    border: 1px solid transparent;
    transition: all 0.5s ease-in-out;
    background-color: $teal;
    color: white;
    
    &:active, &:focus{
        outline: none;
    }
    &:hover{
        background-color: $dark-teal;
    }
}

@mixin input-element {
    input {
      font-family: "Titillium Web", sans-serif;
      color: $charcoal;
      padding: 5px 0px;
      width: 100%;
      border-top: 0px;
      border-right: 0px;
      border-left: 0px;
      border-bottom: 1px solid $teal;
      background-color: transparent;
      transition: 0.5s all ease-in-out;
      font-size: 1.1em;
      margin-bottom: 21px;
      &:focus{
        outline: none;
        border-bottom: 1px solid $dark-teal;
      }
    }
  }

  @mixin base-grid() {
    display: grid;
    grid-gap: 21px;
  }

  @mixin error-message(){
    color: $warning
  }

  @mixin employee-item-thumb($color){

    border: 1px solid $color;
    border-radius: 8px;
    padding: 20px;       
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    //min-width: 150px;
    .employee-thumb-img img{
        width: 100px;
        height: 120px;
        object-fit: cover;
    }           
    .text-content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        //min-width: 150px;

        .title{
            color: $offwhite;
            font-size: 1.5em;
        }
        .actions{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap:15px;
            
            .action-icon{
                cursor: pointer;
                color:$offwhite;
                font-size: 1.5em;
                transition: 0.5s ease-in-out;
                &:hover{
                    color: $warning;
                }
            }
        }
    }

}

/*
@mixin employee-list-top-wrapper(){
  width: 80%;
  display: grid;
  //grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-columns: 1fr;
  gap: 10px;
  padding: 10px;
  .employee-list-wrapper-1{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    padding: 10px;
  }
  .employee-list-wrapper-2{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    padding: 10px;
  }
  .employee-list-wrapper-3{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    padding: 10px;
  }
  .employee-list-wrapper-4{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    padding: 10px;
  }
  .employee-item-thumb-1{
      @include employee-item-thumb($blue);
      //border: 1px solid blue;
  }
  .employee-item-thumb-2{
      @include employee-item-thumb(brown);
      //border: 1px solid brown;
  }
  .employee-item-thumb-3{
      @include employee-item-thumb(green);
      //border: 1px solid green;
  }
  .employee-item-thumb-4{
      @include employee-item-thumb(yellow);
      //border: 1px solid yellow;
  }
}
*/