.product-detail-container{
    padding:30px;
    .product-detail-list-wrapper{
        //width: 90%;
        display: grid;
        //grid-template-columns: 1fr 1fr 1fr;
        align-items: start;
        //gap: 10px;
        padding: 5px;

        .product-detail-item{
            display: grid;

            @include product-detail-item($corp-color);

            
            //border: 1px solid blue;
            &:hover{
                .title{
                    color: $offwhite;
                    transition: 0.75s ease-in-out;
                }
                .actions{
                    .action-icon{
                        color: $offwhite;
                        transition: 0.75s ease-in-out;
                    }   
                }            
                background-color: $dark-corp-color;
                transition: 0.75s ease-in-out;
            }
        }       
    }
}


