.product-detail-container{
    padding:30px;
    .product-detail-list-wrapper{
        //width: 90%;
        display: grid;
        //grid-template-columns: 1fr 1fr 1fr;
        align-items: start;
        //gap: 10px;
        padding: 5px;
        /*
        @media (max-width: 1200px) {
            .empty-field {
                //grid-template-columns: 1fr 1fr;
                grid-column: 2 / 1;  
            }
        }
        @media (max-width: 600px) {
            .empty-field {
                //grid-template-columns: 1fr;
                grid-column: 1 / 1;  
            }
        }
        */
        .product-detail-item{
            display: grid;
            //@include customer-item($dark-teal);
            @include product-detail-item($corp-color);
            //grid-template-columns: 1fr 1fr 1fr 1fr 0.5fr;
            
            //border: 1px solid blue;
            &:hover{
                .title{
                    color: $offwhite;
                    transition: 0.75s ease-in-out;
                }
                .actions{
                    .action-icon{
                        color: $offwhite;
                        transition: 0.75s ease-in-out;
                    }   
                }            
                background-color: $dark-corp-color;
                transition: 0.75s ease-in-out;
            }
        }       
    }
}


