
$teal: #26bfd4;
$dark-teal: #207b88;
$charcoal: #42454a;
$offwhite: #f6f6f6;
$blue: #008dff;
$warning: #922a2a;
$warning-light: #bf2424;
$grey: #8a8a8a;

//$corp-color: #87db18;
$corp-color: #74b81a;
$green1: #bedb39;
$green-dead: #bdd684;
//$dark-corp-color:#2e5108;
$dark-corp-color:#4a8c03;